<article id="getbusy">
  <h1>Get Busy!</h1>
  <p>If you want to keep up with what's going OR Like to part-in Catch me on, <a href="#">join our meetup group</a>, <a href="#">follow us on twitter</a>. If you're in FaceBook, you can also <a href="#">join our FaceBook group</a>.</p>
</article><!-- article -->