<article id="whoshouldcome">
  <h1>Who should come?</h1>
  <ul>
    <li>Anybody interested in Learning</li>
    <li>Anybody who wants to sleep of 45 minutes</li>
    <li>Anybody who things it's cool to be part of </li>
  </ul>
</article><!-- article -->